body {
  background-color: #e6cab3 ;
  color: #000000;
  font-family: Helvetica, sans-serif;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
p{
  font-size: 1.5em;
}
mark{
  background-color: lightgreen;
}
var{
  color: blue;
  font-style: italic;
}
sup{
  color: red;
}
