
body {
      Font-family:"tangerine", sans-serif;
      font-size:2em;
      background-color:#b3ffff;
      color:#000000;}
header h1 {
          Font-family:  helvetica, arial, sans-serif;
          
          }
h1.flag{
       
        backround-color:#99ccff;
       }
header h2{font-family: "satisfy", helvetica;
         }
    
nav ul li {
          width:50;
          height:50;
        }
footer{float:left;
       }

.home:hover{
color:#ff0000;}
