
body {
      Font-family:"tangerine", sans-serif;
      font-size:18px;
      background-color:#b3ffff;
      color:#000000;}
header h1 {
          Font-family:  helvetica, arial, sans-serif;
          text-align:center;
          }
h1.flag{
        width:600; height:200;
       }
nav ul li {
          width:50;
          height:50;
        }
footer{float:left;
       
        }
