
body {
      Font-family:"tangerine", sans-serif;
      font-size:25pt;
      background-color:#b3ffff;
      color:#000000;}
header h1 {
          Font-size:34pt;
          Font-family:  helvetica, arial, sans-serif;
          }
ul li {
list-style-type:none;
ul li a{
      font-weight:bold
      }
header h2{
         font-size:29pt;
         font-family: "satisfy", helvetica;
         }
    
nav ul li {
          width:50;
          height:50;
        }
footer{float:left;
       }

.home:hover{
color:#ff0000;}
