*{margin:0px, padding:0px;}
body{background:#000000;}
#header{width:100%; height:100px;background;#ff0000;box-shadow:0px 3px 6px #0000FF;}
#navbar{width:1000px;height:100px;float:right;} 
#navbar>li{250px; list-style:none; float:left;border-right:1px #FF0000;border-left:#FF0000;}
li>a{display:block color:#000000;margin:15px; line-height:100px;text-align:center;family font:cursive,arial;font-size:20px;text-decoration:none}
li>a:hover,
li>a:focus:{background:#EEEEEE color:#000000;}
#logo{width:250 px;height:100px;float:right;padding-left:40px}

