body
{
margin:0;
padding:0px;
font-family:verdana, sans-serif;
background-image: url(splash.png);
}

#logo{
height:10px;
 width:30px;
 float:left;
 top:0px;

}
nav{
  background-color:#00FF00;
  text-align:center;
font-size:30px;
 position:top;
  
  }
ul
{
background-color:#FF0000;
 
}

li a
{
 color:#0000FF;
text-decoration:none;

 
}
li{
display:inline;
text-decoration:none;


Font-size:30px;
  
  padding:10px;
 
  
}

section, h1, p
{ 
 color:#000000;
 font-style: bold;
position:bottom;
}



