@ charset "UTF-8"
header, nav, main,{display:block}
body
{
margin:0;
padding:0px;
font-family:verdana, sans-serif;
background-image: url(splash.png);
}
header{
background-color:#ffffff;
  width:1000px;
  height:80px
  color:#000000;
  font-size=30px;
}
p
{font-size=18px
}
nav{
  background-color:#00FF00;
  text-align:left;
font-size:30px;
 position:top;
  }
ul
{
background-color:#FF0000; 
}
li a
{
 color:#0000FF;
text-decoration:none; 
}
li{
display:inline;
text-decoration:none;
Font-size:30px;
padding:10px;
}
main{float;center;

top:0px;
}
#logo{
height:10px;
 width:30px;
 float:center;
 top:0px;
}



 
  

