 body {
                 background:url(nature1.jpg);
                 background-size:cover; 
                 color:#000000;
              
                 padding: 0px 
                 }
              
 #header{background-color: #031a0e;
        color:#ffdead;
        padding:0px 0px 0px 20px; 
        box-shadow: 5px 10px #ceda62;    
}
#header img{ float:right;
 padding:0px 15px 0px 0px;
}
#header h1{
 font-size:30px;
}
#eagle img{float: right;
  } 
  #main {
    font-family: 'Lobster Two', cursive;
    font-size: 23px;
    width: 700px;
    background-color: #50e299;
    background: linear-gradient(to right, #ffdead, #50e299);
    float:left;
    padding:0px 0px 0px 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius:3rem;
    box-shadow: 10px 15px #33001a; 
  }

